<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.0/css/hover-min.css" rel="stylesheet" integrity="sha512-glciccPoOqr5mfDGmlJ3bpbvomZmFK+5dRARpt62nZnlKwaYZSfFpFIgUoD8ujqBw4TmPa/F3TX28OctJzoLfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
   
    <link href="~/css/site.css" rel="stylesheet" />
  
</head>
<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg  ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </nav>
        <div class="row page-container">
            <!-- Sidebar -->
            <aside class="col-lg-3 col-12 text-white border-right py-3" id="sidebarCollapse">
                <h1 class="text-center py-3 d-lg-block d-none">Page Name</h1>
                <div class="profile">
                    <img src="~/images/user.png" />
                    <div>
                        <h4>Name</h4>
                        <p>Role</p>
                    </div>
                </div>
                <ul class="nav flex-column gap-3">
                    <li class="nav-item">
                        <a class="nav-link hvr-bounce-to-right @ViewData["ProfileActive"]" href="#">
                            <i class="fas fa-user-edit"></i> Change Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-bounce-to-right @ViewData["HomeActive"]" href="#">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-bounce-to-right @ViewData["StudentsActive"]" href="#">
                            <i class="fas fa-graduation-cap"></i> Students
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-bounce-to-right @ViewData["InstructorsActive"]" href="#">
                            <i class="fas fa-chalkboard-teacher"></i> Instructors
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-bounce-to-right @ViewData["LogOutActive"]" href="#">
                            <i class="fas fa-sign-out-alt"></i> LogOut
                        </a>
                    </li>


                </ul>
                <img src="~/images/search-svg.svg" class="searchImg" width="200" />
            </aside>

            <!-- Main Content -->
            <div class="dynamic-section col-lg-9 col-12">
                @RenderBody()
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

   
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
