@using System.Security.Claims
@{
	TempData.Keep("img");
	TempData["role"] = User?.FindFirst(ClaimTypes.Role)?.Value;

}
<!DOCTYPE html>
<html>
<head>


	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.0/css/hover-min.css" rel="stylesheet" integrity="sha512-glciccPoOqr5mfDGmlJ3bpbvomZmFK+5dRARpt62nZnlKwaYZSfFpFIgUoD8ujqBw4TmPa/F3TX28OctJzoLfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />
	<link href="~/css/ChartsAndHomeViewsForUsers.css" rel="stylesheet" />
    <link href="~/AttendanceTrackingSystem.styles.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/ChartsAndHomeViewsForUsers.css" rel="stylesheet" />
		<link href="~/css/AdminStyles.css" rel="stylesheet" />
	<link href="~/css/genralStylesForForms.css" rel="stylesheet" />
    <link href="~/css/notifications.css" rel="stylesheet" />
    <link href="~/css/instructor.css" rel="stylesheet" /> 
    <link href="~/css/studentAffair.css" rel="stylesheet" />
    <link href="~/css/studentattendance.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>


</head>
<body>

	<div class="container-fluid">
		<nav class="navbar   ">
			<button class="navbar--toggler" type="button">
				<i class="fas fa-bars"></i>
			</button>
		</nav>
		<div class=" page-container">
			<!-- Sidebar -->
			<aside class="col-lg-3 col-12 text-white border-right py-3" id="sidebarCollapse">
				@* <h1 class="text-center py-3 d-lg-block d-none">@ViewData["Title"]</h1> *@
				<div class="profile">
					<img src="@TempData.Peek("img")" />
					<div>
						<h4>@User.Identity.Name</h4>
						<p>@TempData.Peek("role")</p>
					</div>
				</div>

				<ul class="nav flex-column gap-3">
					<li class="nav-item">
						<a class="nav-link hvr-bounce-to-right @ViewData["ProfileActive"] "asp-controller="Account" asp-action="Profile">
							<i class="fas fa-user-edit"></i> View Profile
						</a>
					</li>
					@if (TempData.Peek("role").ToString() == "Student")
					{
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["HomeActive"]" asp-controller="Student" asp-action="Home">
								<i class="fas fa-home"></i> Home
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["PermissionActive"]" asp-controller="Student" asp-action="MakePermission">
								<i class="fas fa-home"></i> Permission
							</a>
						</li>
					}


					@if (TempData.Peek("role").ToString() == "Admin")
					{
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["HomeActive"]" asp-controller="Admin" asp-action="Home">
								<i class="fas fa-home"></i> Home
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["InstructorsActive"]" asp-controller="Admin" asp-action="ShowInstructor">
								<i class="fas fa-chalkboard-teacher"></i> Instructors
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["TracksActive"]" asp-controller="Admin" asp-action="Tracks">
								<i class="fas fa-chalkboard-teacher"></i> Tracks
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["EmployeesActive"]" asp-controller="Admin" asp-action="Employee">
								<i class="fas fa-graduation-cap"></i> Employees
							</a>
						</li>
					}
					@if (TempData.Peek("role").ToString() == "Instructor" || TempData.Peek("role").ToString() == "Supervisor")
					{
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["HomeActive"]" asp-controller="Home" asp-action="Home">
								<i class="fas fa-home"></i> Home
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["TracksSchedulesActive"]" asp-controller="Schedule" asp-action="ShowTrackSchedule">
								<i class="fas fa-chalkboard-teacher"></i> Tracks Schedules
							</a>
						</li>
					}
					@if (TempData.Peek("role").ToString() == "Supervisor")
					{
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["AllScheduleActive"]" asp-controller="Schedule" asp-action="ViewAllSchedule">
								<i class="fa-solid fa-calendar-days"></i> All Schedule
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["AddNewScheduleActive"] "asp-controller="Schedule" asp-action="AddSchedule">
									<i class="fa-regular fa-calendar-days"></i> Add New Schedule
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["StudentPermissionActive"]" asp-controller="Instructor" asp-action="ViewStudentPermissions">
								<i class="fa-regular fa-calendar-days"></i>
						Student Permission
							</a>
						</li>
					}
					@if (TempData.Peek("role").ToString() == "Security")
					{
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["HomeActive"]" asp-controller="Home" asp-action="Home">
								<i class="fas fa-home"></i> Home
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["AttendanceActive"]" asp-controller="Attendance" asp-action="Attendance">
								<i class="fa-solid fa-calendar-days"></i> Attendance
							</a>
						</li>
					}
					@if (TempData.Peek("role").ToString() == "StudentAffairs")
					{
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["HomeActive"]" asp-controller="Home" asp-action="Home">
								<i class="fas fa-home"></i> Home
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["StudentsActive"]" asp-controller="StudentAffair" asp-action="Index">
								<i class="fas fa-graduation-cap"></i> Students
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["TraceAddendanceActive"]" asp-controller="StudentAffair" asp-action="Students">
								<i class="fas fa-graduation-cap"></i> Trace Attendance
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hvr-bounce-to-right @ViewData["StudentDegreeActive"]" asp-controller="StudentAffair" asp-action="ViewStudentsDegrees">
								<i class="fas fa-graduation-cap"></i> Student Degree
							</a>
						</li>

					}
					
						
					
					<li class="nav-item">
						<a class="nav-link hvr-bounce-to-right @ViewData["LogOutActive"]" asp-controller="Account" asp-action="Logout">
							<i class="fas fa-sign-out-alt"></i> LogOut
						</a>
					</li>


                </ul>
                <img src="~/images/search-svg.svg" class="searchImg" width="200" />
            </aside>

			<!-- Main Content -->
			<div class="dynamic-section ">

				@RenderBody()
			</div>
		</div>
	</div>



	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<script src="~/js/site.js"></script>
@* 	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script>
		// Display toastr messages if TempData contains any

		function displayMsg(msg) {
			toastr.success(msg);
		}

	</script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
