@using System.Security.Claims
@model EditProfileViewModel
@{
	TempData["role"] = User.FindFirst(ClaimTypes.Role).Value;

	ViewData["Title"] = "Profile";
	Layout = "~/Views/Shared/_LayoutSystem.cshtml";
}
<section style="font-size:20px ;height:89vh">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col col-lg-8 ">
				<div class="card" style="border-radius: .5rem;">
					<div class="row g-0">
						<div class="col-md-4 text-center text-white"
							 style="background-color:#AD88C6; border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">

							<img src="@Model.ImgUrl?_=@DateTime.UtcNow.Ticks"
								 alt="ProfilePhoto" class="img-fluid mt-5" style="width: 180px;height:230px" />

							<h5 class="mt-3">@Model.Name</h5>
							<p>@TempData["role"]</p>
							@* Edit *@
							@* ---------------------- Modal For Image ------------------------ *@
							<i data-toggle="modal" data-target="#ChangeImageModal" style="color:#AD18C1;font-size:25px" class="btn fa-solid fa-image mb-3"></i>
							<div class="modal fade" id="ChangeImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title text-dark" id="exampleModalLabel">Change Profile photo</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div style="font-size:medium;" class="modal-body col-12 text-dark">
											<form method="post" asp-action="updateImage" enctype="multipart/form-data">
												<input asp-for="@Model.Name" hidden />
												<input asp-for="@Model.Email" hidden />
												<input asp-for="@Model.Phone" hidden />
												<div>
													<label for="MyImg">Change Image: </label>
													<input class="mt-3" id="MyImg" type="file" name="ImgUrl" />
												</div>
												<input type="submit" class="btn align-bottom btn-primary my-3" value="Update Image"></input>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>


							@* ----------------- Modal -----------------*@
							<i data-toggle="modal" data-target="#PassworModal" style="color:#AD18C1;font-size:25px" class="btn fa-solid fa-key mb-3"></i>
							<div class="modal fade" id="PassworModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title text-dark" id="exampleModalLabel">Change Password</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div style="font-size:small" class="modal-body col-12 text-dark ">
											<form class="text-dark" method="post" enctype="multipart/form-data">
												<input asp-for="@Model.Name" hidden />
												<input asp-for="@Model.Email" hidden />
												<input asp-for="@Model.Phone" hidden />
												<div class="form-floating d-flex">
													<input id="oldPass" asp-for="OldPassword" type="password" class="form-control" placeholder="New Password">
													<label for="oldPass"> Old Password</label>
													<button type="button" class="btn float-end btn-sm btn-outline-secondary" onclick="togglePasswordVisibility('oldPass')"><i class="fa-solid fa-eye"></i></button>
													<span asp-validation-for="OldPassword"></span>
												</div>
												<div class="form-floating d-flex">
													<input id="newPass" asp-for="NewPassword" type="password" class="form-control" placeholder="New Password">
													<label for="newPass"> New Password</label>
													<button type="button" class="btn float-end btn-sm btn-outline-secondary" onclick="togglePasswordVisibility('newPass')"><i class="fa-solid fa-eye"></i></button>
													<span asp-validation-for="NewPassword"></span>
												</div>
												<div class="form-floating d-flex">
													<input id="ConfirmPassword" asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password"></input>
													<label for="ConfirmPassword">Confirm password</label>
													<button type="button" class="btn float-end btn-sm btn-outline-secondary" onclick="togglePasswordVisibility('ConfirmPassword')"><i class="fa-solid fa-eye"></i></button>
													<span asp-validation-for="ConfirmPassword"></span>
												</div>
												<div id="Val" asp-validation-summary="ModelOnly"></div>
												<input type="submit" class="btn" value="Change Password"></input>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						@* User Data *@
						<div style="background-color:#FFE6E6" class="text-dark col-md-8">
							<div class="card-body p-4">
								<h6>Your Information</h6>
								<hr class="mt-0 mb-4">
								<div class="row pt-1">
									<div class="col-12 mb-3">
										<h6>Email</h6>
										<p class="text-muted">@Model.Email</p>
									</div>
									<br />
									<div class="col-12 mb-3">
										<h6>Phone</h6>
										<p class="text-muted text-nowrap">@Model.Phone</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
@section Scripts {
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" crossorigin="anonymous"></script>
	<script>
		var inputButtons = document.querySelectorAll('input[type="button"], input[type="submit"], button');

		inputButtons.forEach(function (button) {
			button.style.backgroundColor = '#6c5ddc';
			button.style.color = 'white';
		});

		function togglePasswordVisibility(inputId) {
			var input = document.getElementById(inputId);
			if (input.type === "password") {
				input.type = "text";
				document.querySelector('button[onclick="togglePasswordVisibility(\'' + inputId + '\')"]').innerHTML = '<i class="fas fa-eye-slash"></i>';
			} else {
				input.type = "password";
				document.querySelector('button[onclick="togglePasswordVisibility(\'' + inputId + '\')"]').innerHTML = '<i class="fas fa-eye"></i>';
			}
		}
	</script>
}
